---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: fb-deploy
  labels:
    app: facebook
    env: lab 

spec:
  selector:
    matchLabels:
      app: facebook
 # replicas: 3  
  replicas: {{ .Values.deployment.replicas }}
  template:
    metadata:
      name: fbpod
      labels:
        app: facebook
        env: lab 
    spec:
      containers:
        - name: fbcont1
          image: devopshubg333/batch15d:{{ .Values.deployment.imageversion }}
          ports:
            - containerPort: 8080
      

    