---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: result-app-deployment
  namespace: voting
  labels:
    app: voting-app
spec:
  replicas: 1
  selector:
    matchLabels:
      name: result-app-pod
      app: voting-app
  template:
    metadata:
      name: result-app-pod
      labels:
        app: voting-app
        name:  result-app-pod
    spec:
      containers:
      - name: result-app
        image: dockersamples/examplevotingapp_result
        ports:
        - containerPort: 80
  