apiVersion: apps/v1
kind: Deployment
metadata:
  name: voting-app-deployment
  namespace: voting
  labels:
    name: voting-app-deployment
    app: voting-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: voting-app
      name: voting-app-pod
  template:
    metadata:
      labels:
        app: voting-app
        name: voting-app-pod
    spec:
      containers:
        - name: voting-app
          image: dockersamples/examplevotingapp_vote
          ports:
            - containerPort: 80
